body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

h1 {
  margin-bottom: 40px; /* Increased margin for more spacing */
  font-size: 3em; /* Larger font size */
}

input[type="text"], button {
  padding: 20px; /* Increased padding */
  font-size: 1.5em; /* Larger font size */
  margin-bottom: 20px; /* Added margin for spacing */
}

input[type="text"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#message {
  margin-top: 20px; /* Increased margin for more spacing */
  font-style: italic;
  color: red;
  font-size: 2em; /* Larger font size */
}

.profile-pic-container {
  position: relative;
  display: inline-block;
  margin: 0 auto 22px; /* Center the image and add bottom margin */
}

.profile-pic {
  width: 200px; /* Increased size */
  height: 200px; /* Increased size */
  border: 2px solid #ddd;
  border-radius: 20%;
  cursor: pointer;
}




.regenerate-btn {
  position: absolute;
  bottom: 0px; /* Adjust this value as needed */
  right: 5px; /* Adjust this value as needed */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}